body{
	text-align: center;
	background: url(background.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

html { 
  background: url(background.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.first{	
	margin: 0 auto;
}
.first img{
	border-radius: 50%;
	height: 200px;
	width: 200px;

}

.navbar{
	margin-top: 30px;
	width: 100%;
	background: none !important;
	border: none !important;
	
	

}
.navbar .navbar-collapse{


	color: white !important;
	text-align: center !important;
}

.nav{
	width: 100%;
	text-align: center;
	padding: 0px;
	overflow: hidden;

	

	

}
.nav li {
	vertical-align: middle;
	width: 25%;

	
	
}
.nav li a{
	font-size: 20px;
	text-decoration: none !important;
	color: white !important;
}

.nav li a:hover{
	color: gray !important;
}

.nav li div{

	top: 50%;

}

nav{
	margin-bottom: 50px;
}

.about{
	margin: 0 auto;
	position: relative;
	



}
.aboutText{

	display: inline-block;
	border-radius: 25px;
	color: white;
	
	background-color: black;
	width: 40%;
	
	height: auto;
	min-height: 425px;
	vertical-align: top;
	
}

.aboutText h2{
	text-align: left;
	font-size: 50px;
	padding-top: 20px;
	padding-left: 5%;
}

.aboutText p{
	padding: 25px;
}

.aboutImages{
	display: inline-block;
	margin-left: 25px;
	
	
}
.aboutImages ul{

	display: table-row;
	height: 425px;
}
.aboutImages li{
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	list-style: none; 
}
.aboutImages img{
	border-radius: 25px;
	width: 300px;
	height: 350px;
}
.projects{
	margin-top: 500px;
	
}
.projectHeader{

	width:200px;
	height: auto;
	background-color: black;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
	
}

.projectHeader h2{
	font-size: 50px;
	color:white;

}

.FabFlix{
	margin: 0 auto;
	position: relative;
	color: white;
}
.projects h3{
	font-size: 30px;
}




.projectBox{
	width: 800px;
	height: 200px;
	display: inline-block;
	background-color: black;
	border-radius: 25px;

	position: relative;
	margin: 0 auto;
	position: relative;
  	


	
}
.fabFlixBox{
	top: 50%;
  	transform: translateY(-100%);

}
.projectText{
	color: white;
	text-align: center;
}

.fabFlixPhotos{
	list-style: none;
	display: inline-block;
	height: 900px;
	width: 600px;
}

.fabFlixPhotos li{

	vertical-align: middle;
	padding: 10px;
	list-style: none; 
}
.fabFlixPhotos img{
	box-shadow: 15px 15px 7px black;
	width: 600px;
	height: 425px;
}

.upLiftPhotos{

	display: inline-block;
}
.upLiftPhotos ul{
	width: 650px;
	height: 500px;
	text-align: center;
	height: auto;
	list-style: none;
	text-align: left;
}
.upLiftPhotos ul li{
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}
.upLiftPhotos ul li img{

	margin: 0 auto;
	text-align: center;

	width: 300px;
	height: 500px;
}

.upLiftBox{

	display: inline-block;
	

}

.desktop{
	box-shadow: 15px 15px 7px black;
	width: 800px;
	height: 500px;
}

.mobile{
	width: 300px;
	height: 500px;
}

.simpleCookingPhotos{
	display: inline-block;
}

.simpleCookingPhotos ul{
	list-style: none;
}

.simpleCookingBox{
	top: 50%;
  	transform: translateY(-100%);
}

.tablet{
	
	width: 450px;
	height: 600px;
}



.project{
	padding-bottom: 500px;
}

.leadership {
	width: 100%;
	height: 800px;
}

.leadership ul{
	
	margin: auto;
	position: relative;
}
.leadership li {
	border-radius: 25px;
	position: relative;
	text-align: center;
	color: white;
	list-style: none;
	width: 700px;
	background-color: black;
	display: inline-block;
	min-height: 350px;
	vertical-align: middle;
	

}

.leadership h4 {
	font-size: 25px;
}

.hack{
	margin-right: 20px;
	
}
.maiss{
	margin-left: 20px;
	
}
.hack img{
	width: 250px;
	height: 250px;
}


.contact{
	color: white;
	width: 100%;
	background-color: #282828;
	height: 50%;
}
.t{
	
	width: 50%;
	height: 100%;
	float: left;
}

.t h3{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  	text-align: right;
}
.list{
	text-align: left;
	width: 50%;
	height: 100%;
	float: left;
}
.list ul{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	list-style: none;
}
.list img{
	opacity: 0.2;
	width: 100px;
	height: 100px;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.list img:hover{
	opacity: 1;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.list ul li:not(:last-child){
	margin-bottom: 2.5%;
}