body{
	text-align: center;
	background: url(photos/background.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

html { 
  background: url(photos/background.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.first{	
	visibility: hidden;
	margin: 0 auto;
	padding-top: 100px;
	
}
.first img{
	border-radius: 50%;
	height: 400px;
	width: 400px;

}


.boldWords{
	
	
	margin-top: 150px;
	margin-bottom: 150px;
	height: auto;
}



.boldWords div{
	visibility: hidden;
	display: inline-block;
	color: white;
	font-size: 50px;
	padding-left: 15px;
	padding-right: 15px;
	
	
}
.navbar{
	visibility: hidden;
	margin-top: 30px;
	width: 100%;
	background: none !important;
	border: none !important;
	
	

}
.navbar .navbar-collapse{


	color: white !important;
	text-align: center !important;
}

.nav{

	width: 100%;
	text-align: center;
	padding: 0px;
	overflow: hidden;
	margin-bottom: 250px;

	

	

}
.nav li {
	vertical-align: middle;
	width: 20%;

	
	
}
.nav li a{
	font-size: 20px;
	text-decoration: none !important;
	color: white !important;
}

.nav li a:hover{
	color: gray !important;
}

.nav li div{

	top: 50%;

}

nav{

	margin-bottom: 50px;
}

.about{
	margin-top: 125px;
	padding-top: 250px;
	visibility: hidden;
	margin: 0 auto;
	position: relative;
	



}
.aboutText{

	display: inline-block;
	border-radius: 25px;
	color: white;
	
	background-color: black;
	width: 40%;
	
	height: auto;
	
	vertical-align: top;
	
}

.aboutText h2{
	text-align: left;
	font-size: 50px;
	padding-top: 20px;
	padding-left: 5%;
}

.aboutText p{
	font-size: 15px;
	padding: 40px;
}

.aboutImages{
	display: inline-flex;
	/*margin-left: 25px;*/
	
	
}
.aboutImages ul{

	/*display: table-row;*/
	height: auto;
}
.aboutImages li{
	display: inline-flex;
	vertical-align: middle;
	padding: 10px;
	list-style: none; 
}
.aboutImages img{
	border-radius: 25px;
	width: 300px;
	height: 350px;
}
.projects{
	
	margin-top: 500px;
	
}
.projectHeader, .leadershipHeader{
	visibility: hidden;
	width:200px;
	height: auto;
	background-color: black;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
	
}

.leadershipHeader{
	width: 275px !important; 

}

.projectHeader h2, .leadershipHeader h2{
	font-size: 50px;
	color:white;

}

.FabFlix{

	margin: 0 auto;
	position: relative;
	color: white;
}
.projects h3{
	color: white;
	font-size: 40px;
}




.projectBox{
	width: 40%;
	height: auto;
	display: inline-block;
	background-color: black;
	border-radius: 25px;

	position: relative;
	margin: 0 auto;
	position: relative;
	padding:20px;
  	


	
}

.projectBox p, .projectBox ul{
	font-size: 15px;

}

.projectBox a{
	font-size: 17px;
	color: gray;
	border-bottom: 1px dotted gray;
	margin: 3px;
}
.fabFlixBox{
	vertical-align: middle;
	position: relative;
	

}

.fabFlixBox ul{
	list-style-position: inside;
  text-align: center;
}
   
}




.projectText{
	color: white;
	text-align: center;
}

.fabFlixPhotos{
	list-style: none;
	display: inline-block;
	
}

.fabFlixPhotos ul{
	padding: 0px;
}

.fabFlixPhotos li{
	width: auto !important;
	height: auto !important;
	vertical-align: middle;
	padding: 10px;
	list-style: none; 
}
.fabFlixPhotos img{
	box-shadow: 15px 15px 7px black;
	width: 600px;
	height: 425px;
}

.upLiftPhotos{

	display: inline-block;
}
.upLiftPhotos ul{
	width: auto;
	height: auto;
	text-align: center;
	list-style: none;
	text-align: left;
}
.upLiftPhotos ul li{
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}
.upLiftPhotos ul li img{

	margin: 0 auto;
	text-align: center;

	width: 300px;
	height: 500px;
}

.upLiftBox{
	
	vertical-align: middle;
	display: inline-block;
	

}

.desktop{
	box-shadow: 15px 15px 7px black;
	width: 800px;
	height: 500px;
}

.mobile{
	width: 300px;
	height: 500px;
}

.simpleCookingPhotos{
	display: inline-block;
}

.simpleCookingPhotos ul{
	list-style: none;
}

.simpleCookingBox{
	top: 50%;
  	transform: translateY(-100%);
}

.simpleCookingBox{
	list-style-position: inside;
}

.tablet{
	
	width: 450px;
	height: 600px;
}



.project{
	color: white;
	visibility: hidden;
	padding-bottom: 500px;
}

.simpleCooking{
	padding-bottom: 250px !important;
}

.leadership {
	visibility: hidden;
	width: 100%;
	margin-bottom: 300px;
	padding-top: 250px;
	
}

.leadership ul{
	
	margin: auto;
	position: relative;
}
.leadership li {
	border-radius: 25px;
	position: relative;
	text-align: center;
	color: white;
	list-style: none;
	width: 700px;
	background-color: black;
	display: inline-block;
	min-height: 425px;
	vertical-align: middle;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 25px;
	

}
.leadershipUL p{
	
  	
	padding: 20px;
	font-size: 15px;
	vertical-align: bottom;
}
.leadership h4 {
	font-size: 25px;
}

.leadership img{
	padding: 20px;
}
.hack img{
	width: 37.5%;
	
}


.contact{
	color: white;
	width: 100%;
	background-color: #282828;
	height: 700px;
}
.t{
	padding-top: 100px;
	text-align: center;
	
}

.t h4{
	font-size: 50px;
	position: relative;
  	text-align: center;
}
.list{
	position: relative;
	text-align: center;
	width: 100%;
 		
  	
	
}

.maiss img{

	width:66.7%;
}
.list ul{

	background-color: #282828;
	/*top: 50%;
  	transform: translateY(-50%);*/
	width: 100%;
	text-align: center;
	position: relative;
	list-style: none;
	
}

.list ul li{

  	padding: 5%;
	text-align: center;
	display: inline-flex;
}
.list img{
	opacity: 0.2;
	width: 200px;
	height: 200px;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.list img:hover{
	opacity: 1;
	transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.list ul li:not(:last-child){
	margin-bottom: 2.5%;
}